In [1]:
import pandas as pd
df = pd.read_csv("cars.csv")

In [2]:
df["engine_type"]

0        gasoline
1        gasoline
2        gasoline
3        gasoline
4        gasoline
           ...
38526    gasoline
38527      diesel
38528    gasoline
38529    gasoline
38530    gasoline
Name: engine_type, Length: 38531, dtype: object

In [5]:
pd.get_dummies(df["engine_type"])#get dummies es en realidad one shot, pandas tiene invertidos los comandos#

       diesel  electric  gasoline
0           0         0         1
1           0         0         1
2           0         0         1
3           0         0         1
4           0         0         1
...       ...       ...       ...
38526       0         0         1
38527       1         0         0
38528       0         0         1
38529       0         0         1
38530       0         0         1

[38531 rows x 3 columns]

##### asi se debe trabajar con variables categoricas en machine learning

In [9]:
#usaremos las herramientas de scikit learn
import sklearn.preprocessing as preprocessing
encoder=preprocessing.OneHotEncoder(handle_unknown="ignore")

In [10]:
encoder.fit(df[["engine_type"]].values)#ajustar encoder a las categorias del dataset

OneHotEncoder(handle_unknown='ignore')

In [12]:
encoder.transform([["gasoline"],["diesel"],["agua"]]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.]])