In [1]:
#pandas#
import pandas as pd
from math import log
s=pd.Series([1,2,3,4])
s.apply(log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [4]:
pal=pd.Series(["Carlos","Pedro","Fiza"])
pal.apply(str.upper)

0    CARLOS
1     PEDRO
2      FIZA
dtype: object

In [5]:
#multiplicar por un escalar la serie#
s=pd.Series([1,2,3,4])
s*2

0    2
1    4
2    6
3    8
dtype: int64

In [7]:
#orden ascendente#
s_asignaturas=pd.Series(["Fiza","Carlos","Pedro","Maria","Ariel"])
s_asignaturas.sort_values(ascending=True)

4     Ariel
1    Carlos
0      Fiza
3     Maria
2     Pedro
dtype: object

In [8]:
#Orden descendente" de valores
s_asignaturas=pd.Series(["Fiza","Carlos","Pedro","Maria","Ariel"])
s_asignaturas.sort_values(ascending=False)

2     Pedro
3     Maria
0      Fiza
1    Carlos
4     Ariel
dtype: object

In [9]:
#ordenar indices" ordena el indice (asignaturas alfabeticamente)
a=pd.Series({"Matematicas":6.0,"Espa単ol":5.5,"Ingles":4.0})
a.sort_index(ascending=True)

Espa単ol        5.5
Ingles         4.0
Matematicas    6.0
dtype: float64

In [10]:
#ordenar indices" ordena el indice (asignaturas alfabeticamente) descendente
a=pd.Series({"Matematicas":6.0,"Espa単ol":5.5,"Ingles":4.0})
a.sort_index(ascending=False)

Matematicas    6.0
Ingles         4.0
Espa単ol        5.5
dtype: float64

In [1]:
#borrar elementos desconocidos o nulos#
s=pd.Series([])

NameError: name 'pd' is not defined