# Ejercicio

Obtener la versión de la librería pandas.

In [20]:
#Instalamos complemento en caso de no tenerlo instalado#
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
#importamos libreria#
import pandas as pd

# Ejercicio

Crear y visualizar un arreglo unidimensional que contenga 10 nros. entre 1 y 100 como una estructura Series.

Obtener el tamaño de la lista

In [4]:
import numpy as np
arreglo_diez=np.arange(1,90,9)#generamos un arreglo unidimensional con 10 numeros entre 1 y 100#
print(arreglo_diez)
#obtenemos el tamaño de la lista#
print(len(arreglo_diez))

[ 1 10 19 28 37 46 55 64 73 82]
10

# Ejercicio

Aplicar las operaciones aritméticas básicas sobre una serie y un nro.

"*,/,+/-"  tambien ==>  "><= distinto"

In [5]:
multiplicacion=arreglo_diez*5
print("arreglo original *5 = ",multiplicacion)
print("               ")
division=arreglo_diez/9
print("arreglo original /9 =",division)
print("               ")
suma=arreglo_diez+100
print("arreglo original +100 = ",suma)
print("               ")
resta=arreglo_diez-11.5
print("arreglo original -11.5 = ",resta)
print("               ")
print("arreglo original !=1 =", arreglo_diez!=1)

arreglo original *5 =  [  5  50  95 140 185 230 275 320 365 410]

arreglo original /9 = [0.11111111 1.11111111 2.11111111 3.11111111 4.11111111 5.11111111
 6.11111111 7.11111111 8.11111111 9.11111111]

arreglo original +100 =  [101 110 119 128 137 146 155 164 173 182]

arreglo original -11.5 =  [-10.5  -1.5   7.5  16.5  25.5  34.5  43.5  52.5  61.5  70.5]

arreglo original !=1 = [False  True  True  True  True  True  True  True  True  True]

# Ejercicio

Aplicar las operaciones aritméticas básicas sobre dos  Series o más.


"*,/,+/-"

In [6]:
#operaciones entre series#
arreglo_multiplicacion=arreglo_diez*multiplicacion
print("arreglo_diez*multiplicacion = ",arreglo_multiplicacion)
print("               ")
arreglo_division=arreglo_diez/division
print("arreglo_diez/division=",arreglo_division)
print("               ")
arreglo_suma=arreglo_diez+suma
print("arreglo_diez+suma = ",arreglo_suma)
print("               ")
arreglo_resta=arreglo_diez-resta
print("arreglo_diez-resta = ",arreglo_resta)
print("               ")

arreglo_diez*multiplicacion =  [    5   500  1805  3920  6845 10580 15125 20480 26645 33620]

arreglo_diez/division= [9. 9. 9. 9. 9. 9. 9. 9. 9. 9.]

arreglo_diez+suma =  [102 120 138 156 174 192 210 228 246 264]

arreglo_diez-resta =  [11.5 11.5 11.5 11.5 11.5 11.5 11.5 11.5 11.5 11.5]

# Ejercicio 

Preocupese de Que funcione


arreglo = np.array([2, 3, 5, 7, 11])

serie = pd.Series(arreglo)

datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie = pd.Series(datos)

In [7]:
#guardaremos ambas series en distintas variables pensando en que deben ser utilizadas mas tarde y agregamos las librerias#
import numpy as np
import pandas as pd

arreglo = np.array([2, 3, 5, 7, 11])

serie_arreglo = pd.Series(arreglo)

print(serie_arreglo)

datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie_datos = pd.Series(datos)

print(serie_datos)

0     2
1     3
2     5
3     7
4    11
dtype: int32
a    10
b    20
c    30
d    40
dtype: int64

# Ejercicio 

Obtener una columna de un objeto DataFrame como un objeto Series.

datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

In [14]:
datos = {'A': [1, 2, 3, 4, 5]
         , 'B': [9, 8, 7, 6, 5]
         , 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)
print(df)#observamos la esctructura de los datos#
print("            ")
print("columna B")
print(df["B"])#imprimiremos la columna B de la base de datos

   A  B   C
0  1  9   2
1  2  8   3
2  3  7   5
3  4  6   7
4  5  5  11

columna B
0    9
1    8
2    7
3    6
4    5
Name: B, dtype: int64

# Ejercicio 

Crear un DataFrame

Extraer una fila de un DataFrame como un objeto Series.

In [46]:

perros={"Nombre": ["Toby","Turbo","Pepita","Mika","Pelusa"]
        , "Edad años": [2, 1, 7, 12, 3]
        , "Raza": ["Doberman","Chihuahua","Golden","Kiltro","Sharpey"]}
perros_df= pd.DataFrame(perros)
print(perros_df)
fila=perros_df.iloc[1]
#imprimir fila como serie#
print(fila)

   Nombre  Edad años       Raza
0    Toby          2   Doberman
1   Turbo          1  Chihuahua
2  Pepita          7     Golden
3    Mika         12     Kiltro
4  Pelusa          3    Sharpey
Nombre           Turbo
Edad años            1
Raza         Chihuahua
Name: 1, dtype: object

# Ejercicio

Crear el Objeto, y luego transformaro a una sola fila

0    [Colombia, Perú, Argentina]

1             [Bolivia, Uruguay]

2                        [Chile]

In [133]:
paises_uno=["Colombia", "Perú", "Argentina"]
paises_dos=["Bolivia", "Uruguay"]
paises_tres=["Chile"]
#creamos un dataframe auxiliar para ingresar los datos#
df_paises=pd.DataFrame({"ayuda":[1]})
contador=0
#definimos funcion que permita agregar de a uno los elementos solicitados#
def agregar_a_fila():
    df_paises.loc[df_paises.index[0],"pais {}".format(contador)]=i
#generamos ciclos for que pase por cada uno de los arreglos item por item#   
for i in paises_uno:
    agregar_a_fila()
    contador+=1
for i in paises_dos:
    agregar_a_fila()
    contador+=1
for i in paises_tres:
    agregar_a_fila()
    contador+=1
#borramos la columna auxiliar e imprimimos#
df_paises=df_paises.drop(["ayuda"],axis=1)
print(df_paises)

     pais 0 pais 1     pais 2   pais 3   pais 4 pais 5
0  Colombia   Perú  Argentina  Bolivia  Uruguay  Chile

# Ejercicio

Ordenar los valores de un objeto Series

datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

In [136]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)
serie = serie.sort_values()
print(serie)

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

# Ejercicio

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.
datos = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

Obtener los menores a 5

In [142]:
datos = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
serie = pd.Series(datos)
print (serie)
nueva_serie=serie[serie<5]
print(nueva_serie)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: int64

# Ejercicio

Obtener la desviación estándar, el promedio, maximo,minimo, sum de un conjunto de datos de una serie.

Invente la data usted

obtenga la info y el describe

In [153]:
perros={"Nombre": ["Toby","Turbo","Pepita","Mika","Pelusa"]
        , "Edad años": [2, 1, 7, 12, 3]
        , "Raza": ["Doberman","Chihuahua","Golden","Kiltro","Sharpey"]}
perros_df= pd.DataFrame(perros)
#valores solicitados#
desviacion_estandar=perros_df["Edad años"].std()
media=perros_df["Edad años"].mean()
maximo=perros_df["Edad años"].max()
minimo=perros_df["Edad años"].min()
total=perros_df["Edad años"].sum()
print("desviacion estandar= {0},media= {1} ,maximo= {2} ,minimo= {3} ,suma={4} ".format(desviacion_estandar,media,maximo,minimo,total))
pd.DataFrame.describe(perros_df)

desviacion estandar= 4.527692569068709,media= 5.0 ,maximo= 12 ,minimo= 1 ,suma=25

       Edad años
count   5.000000
mean    5.000000
std     4.527693
min     1.000000
25%     2.000000
50%     3.000000
75%     7.000000
max    12.000000

## Ejercicio

Obtener dos objetos diferentes con los elementos pares e impares de un objeto Series numérico.

datos = list(range(10))

In [181]:
datos = list(range(10))
pares=[]
impares=[]
for i in datos:
    if i==0 or i%2==0:
        pares.append(i)
    else:
        impares.append(i)
pares_df=pd.DataFrame({"numeros pares":pares})
impares_df=pd.DataFrame({"numeros impares":impares})
print(pares_df)
print(impares_df)

   numeros pares
0              0
1              2
2              4
3              6
4              8
   numeros impares
0                1
1                3
2                5
3                7
4                9

# Ejercicio 

Eliminar los valores NaN de una serie con el método dropna.

datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']

In [187]:
datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']
datos_df=pd.DataFrame(datos)
print(datos_df)
print("-------------")
datos_limpios=datos_df.dropna()
print(datos_limpios)

        0
0     2.3
1  Python
2      90
3     100
4     NaN
5     0.5
6      .9
-------------
        0
0     2.3
1  Python
2      90
3     100
5     0.5
6      .9